<!DOCTYPE html>
<html ng-app="atabChangePassword">
<head>
    <link rel="shortcut icon" href="favicon.ico" />

    <link rel="stylesheet" href="css/atabTest.css">
    <link rel="stylesheet" href="css/changePass.css">    
    <link rel="stylesheet" href="css/selfReg.css">        
	<Title>DirectTrust Bundle Interoperability Password Change</Title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-cookies.js"></script>	
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/changePassword.js"></script>
</head>

<body ng-controller="changePasswordController">
<div id="banner">
    <img class="centerImg" src="images/direct_trust_logo-min.png" width="400px"  height="125px"/>
</div>
<p>

<div ng-show="invalidFormData" >
	<div align="center">
	<H2>
		Invalid Change Password Request 
	</H2>
	</div>
</div>

<div ng-show="invalidSecurity" >
	<div align="center">
		</p>
		<h4>
			The security information is either from an old change request, invalid, or has been tampered with.
		</h4>
	</div>
</div>

<div ng-show="expiredRequest" >
	<div align="center">
		</p>
		<h4>
			The change password request has expired.
		</h4>	
	</div>
</div>

<div ng-show="changingPassword" >
	<div class="regContainer">
	    <!--  
		<label ng-show="emptyPassword" class="invalidAddressLabel">Passwords cannot be empty.</label>
		<label ng-show="nonMatchingPasswords" class="invalidAddressLabel">Passwords do no match.</label>	
		-->
		<label ng-show="updateError" class="invalidAddressLabel">Error occured updating password.</label>		
	    <label ng-show="newPass == undefined || newPass.length == 0 || chkPass == undefined || chkPass.length == 0 || newPass != chkPass" class="invalidAddressLabel">Passwords don't match.</label>				
	    <label ng-show="newPass.length > 0 &&  chkPass.length > 0 && newPass == chkPass" class="passMatchLabel">Passwords match.</label>		
		<form name="chgPass">
		    <input ng-model="newPass" placeholder="New Password" name="pwd" required  type="password" required/>
		    <input  ng-model="chkPass" placeholder="Repeat Password" name="chk" type="password"  required/>
		    <div id="updatePasswordCommit" align="center">
			  <button ng-click="updatePassword()">Update Password</button>
			</div>
		</form>
	
	</div>

</div>

<div ng-show="passwordChanged" >
	<div align="center">
	<H2>
		Password Change Successful
	</H2>
		</p>
		<h4>
			Click <a href="{{loginURL}}" target="_blank">here</a> to login.
		</h4>	
	</div>
</div>

</body>
</html>